.container {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px 1fr 100px 100px 100px 1fr 100px 1fr;
    grid-template-columns: 1fr 100px 20px 100px 100px 100px 20px 100px 1fr;

}


@media screen and (max-width: 800px) {

    .player_one {
        grid-row: 9 ;
        grid-column: 4 ;
        font-size: 24px;
        background: blue;

    }

    .player_two {
        grid-row: 8 ;
        grid-column: 4;
        font-size: 24px;
        background: yellow;
    }
}

.title{
    grid-row: 2;
    grid-column: 4 / span 3;
    font-size: 24px;
    background: green;
    text-align: center;

}
.player_one {
    grid-row: 4 / span 2;
    grid-column: 2;
    font-size: 24px;
    background: yellow;
}

.player_two {
    grid-row: 4 / span 2;
    grid-column: 8;
    font-size: 24px;
    background: yellow;
}

.board {
    grid-row: 4 / span 3;
    grid-column: 4 / span 3;
    font-size: 24px;
    background: brown;
}
.game_status {
    grid-row: 8;
    grid-column: 4 / span 3;
    font-size: 24px;
    background: red;
}
