.container {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 1fr 70px 1fr 100px 100px 100px 1fr 70px 70px 70px;
    grid-template-columns: 1fr 100px 100px 100px  1fr;
}

.title{
    grid-row: 2;
    grid-column: 3;
    font-size: 24px;
    background: rgb(163, 194, 194);
    text-align: center;
    padding: 10px 0;

}
.player_one {
    grid-row: 2;
    grid-column: 2;
    font-size: 20px;
    background: rgb(163, 194, 194);
    text-align: center;
    padding: 20px 0;

}

.player_two {
    grid-row: 2;
    grid-column: 4;
    font-size: 20px;
    background: rgb(163, 194, 194);
    text-align: center;

    padding: 20px 0;

}

.board {
    grid-row: 4 / span 3;
    grid-column: 2 / span 3;
    font-size: 24px;
    background: 	rgb(20, 31, 31);
    border-radius: 12px;
}
.game_status {
    grid-row: 8;
    grid-column: 2 / span 3;
    font-size: 24px;
    background: rgb(163, 194, 194);
    text-align: center;
    padding: 25px 0;
    border-radius: 12px;
}

.btn1{
    grid-row: 4;
    grid-column: 2;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn2{
    grid-row: 4;
    grid-column: 3;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn3{
    grid-row: 4;
    grid-column: 4;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn4{
    grid-row: 5;
    grid-column: 2;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn5{
    grid-row: 5;
    grid-column: 3;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn6{
    grid-row: 5;
    grid-column: 4;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn7{
    grid-row: 6;
    grid-column: 2;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn8{
    grid-row: 6;
    grid-column: 3;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn9{
    grid-row: 6;
    grid-column: 4;
    font-size: 35px;
    color: black;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.reload{
    grid-row: 10;
    grid-column: 2 / span 3;
    font-size: 24px;
    background: red;
    border-radius: 12px;
}

.play_again{
    grid-row: 9;
    grid-column: 2 / span 3;
    font-size: 24px;
    background: 	rgb(102, 153, 153);
    border-radius: 12px;
}
.btn1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn2:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn3:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn4:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn5:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn6:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn7:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn8:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn9:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
